/*Alerts Categorias*/
#mensaje-flotante {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #4a6fa5;
  /* éxito por defecto */
  color: white;
  padding: 15px 20px;
  border-radius: 8px;
  z-index: 10000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  display: none;
  transition: opacity 0.5s ease;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
}

#mensaje-flotante .icono-mensaje {
  font-size: 20px;
  color: #d0e6ff;
  /* éxito */
}

#mensaje-flotante.mensaje-visible {
  display: flex;
  opacity: 1;
}

.mensaje-oculto {
  display: none;
  opacity: 0;
}


.mensaje-oculto {
  display: none;
  opacity: 0;
}