<header>
  <div class="logo">
    <img src="https://res.cloudinary.com/dacrpsl5p/image/upload/v1745430695/Logo-Negro_nfvywi.png" alt="Barsa Muebles">
  </div>

  <nav>
    <ul id="menu-elements">
      <li><a href="{% url 'h' %}">Inicio</a></li>
      <li><a href="/productos/">Productos</a></li>
      <li><a href="/nosotros/">Nosotros</a></li>
      <li><a href="/contacto/" class="contact">Contacto</a></li>
    </ul>
  </nav>


  <div class="header_usuario_carrito">
    <div class="usuario-container">
      <div class="icono-usuario" onclick="toggleMenuUsuario()">
        <i class="fa-solid fa-user"></i> 
      </div>
      <div class="menu-usuario" id="menu-usuario">
        <!-- Contenido dinámico se insertará aquí via JavaScript -->
      </div>
    </div>
    <!-- Botón del carrito (no se modifica) -->
    <button class="btn-carrito">
      <img src="https://res.cloudinary.com/dacrpsl5p/image/upload/v1745430694/Carrito_rdywow.png" alt="Carrito"
        class="icono-carrito-svg">
      <span>Carrito</span>
    </button>
   </div>

</div>







</header>
<div class="Elements">

  <nav>
    <ul id="menu-elements">
      <li><a href="{% url 'h' %}">Inicio</a></li>

      <li><a href="/productos/">Productos</a></li>
      <li><a href="/nosotros/">Nosotros</a></li>
      <li><a href="/contacto/" class="contact">Contacto</a></li>
    </ul>
  </nav>
</div>